		
    {% extends 'base/base.html' %}
        {% block title %}工具下载{% endblock %}
        {% block content %}

			<div class="am-u-md-41" style="overflow:auto;">
<br>
<br>
<br>
                <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                      新增工具
                </button>   

                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog"> 
                        <div class="modal-content">     
                            <div class="modal-header">      
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                 &times;    
                                </button>      
                                <h4 class="modal-title" id="myModalLabel">
                                    添加工具详情
                                </h4>
                            </div>
                            <div class="modal-body">        

                            <table id="example1" class="table table-bordered table-striped" aria-describedby="example1_info">
                                <tbody>
                                <tr>
                                    <th style="width: 20%">基本信息</th>
                                    <th style="width: 80%">内容</th>
                                </tr>
                                </tbody>
                                <tbody>
                                
                                <tr>
                                    <td>工具名称</td>
                                    <td class="input-group">
                                        <input type="text" class="form-control" id="tool_name" value="">
                                    </td>
                                </tr>
                                <tr>
                                    <td>工具说明</td>
                                    <td>
                                        <textarea id="tool_instructions" style="width:426px;height:80px;"></textarea>    
                                    <br>
                                    </td>
                                </tr>
                                </tbody>
                            </table>



                            </div>
                            <div class="modal-footer">      
                                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="save_tool_info()">提交工具信息</button>      
                            </div>
                        </div><!-- /.modal-content -->  
                    </div><!-- /.modal -->
                </div>            
<br>
<br>
<br>

                        <table id="example" class="display" cellspacing="0" width="100%">
                            <thead>                         
                            <tr>                            
                                <th>工具名称</th>                
                                <th>工具说明</th>               
                                <th>下载</th>               
                                <th>编辑</th>            
                            </tr>                           
                            </thead>                                                                  
                            <tbody>                         
                                {% for info in script_tools_set %}
                                <tr>                            
                                    <td style="width:20%">{{ info.tool_name }}</td>
                                    <td style="width:20%">{{ info.tool_instructions }}</td> 
                                    <td style="width:20%"><button class="btn btn-info" type="button" onclick="down_script_tool('{{ info.tool_name }}')">工具下载</button></td> 
                                    <td style="width:20%"><button class="btn btn-info" type="button" onclick="delete_script_tool('{{ info.tool_name }}')">删除</button></td> 
                                </tr>                           
                                {% endfor %}
                            </tbody>                        
                        </table>     


			</div>
            {% endblock %}


		



        {% block extrajs %}
		<script type="text/javascript">
            $(document).ready(function() {
                $('#example').DataTable( {
                } );
 
            } );
            
            function down_script_tool(tool_name){
                var url = "{% url 'check:script_tools' %}"+"?tool_name="+tool_name+"&down=1"    
                window.open(url) 
            }

            function save_tool_info(){
                var tool_name = $("#tool_name").val()
                var tool_instructions = $("#tool_instructions").val()
                if (!tool_name){
                    alert("请输入工具名称")
                }
                else{
                    var url = "{% url "check:script_tools" %}"+"?tool_name="+tool_name+"&tool_instructions="+tool_instructions+"&save=1"
                    location.href = url
                }
            }
            
            function delete_script_tool(tool_name){
                var url = "{% url "check:script_tools" %}"+"?tool_name="+tool_name+"&del=1"
                location.href = url
            }
 
        </script>
	
        {% endblock %}	

