		
    {% extends 'base/base.html' %}
    {% block title %}专有云v2版本{% endblock %}
        {% block content %}

			<div class="am-u-md-41" id="contents" style="overflow:auto;">
<br>
<br>
<br>
<br>
<h2 align="center">专有云--{{version}}--{{project_name}}</h2>
<br>
<br>
                        <table id="example" class="display" cellspacing="0" width="100%">
                            <thead>                         
                            <tr>                            
                                <th  style="text-align:center;">主机名称</th>                
                                <th  style="text-align:center;">描述信息</th>               
                                <th  style="text-align:center;">检测次数</th>               
                                <th  style="text-align:center;">健康值（平均）</th>            
                            </tr>                           
                            </thead>                                                                  
                            <tbody>                         
                                {% for info in project_host_set %}
                                <tr>                            
                                    <td style="width:20%;text-align:center;"><a href="{% url 'aliyun:host' %}?version={{version}}&&project_name={{project_name}}&&host_id={{info.host_id}}&&host_name={{info.host_address}}">{{ info.host_address }}</a></td>
                                    <td class="tool_instruction"  style="width:20%;text-align:center">{{ info.host_description }}</td> 
                                    <td class="tool_instruction"  style="width:20%;text-align:center">{{ info.check_host_count }}</td> 
                                    <td class="tool_instruction"  style="width:20%;text-align:center">
                                        <div class="progress progress-striped" style="margin-bottom: 0px;">
                                            {% if info.av_health_index_num > 80 %}
                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ info.av_health_index_num }}%;">
                                                    <span>{{ info.av_health_index_num }}</span>
                                                </div>
                                            {% else  %}
                                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ info.av_health_index_num }}%;">
                                                    <span>{{ info.av_health_index_num }}</span>
                                                </div>
                                            {% endif %}
                                        </div> 
                                    </td> 
                                </tr>                           
                                {% endfor %}
                            </tbody>                        
                        </table>     
			</div>


            {% endblock %}


		



        {% block extrajs %}
		<script type="text/javascript">
            $(document).ready(function() {
                $('#example').DataTable( {
                });

            });
            

        </script>
	
        {% endblock %}	

